# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.venv

# testing
/obj
.vscode
requestlogs.log
startup.txt

# production
get-pip.py
app/__pycache__
app/migrations
StoreMon/__pycache__
app/FE
# misc
